.container {
  display: flex;
  height: 100em;
  background-color: grey;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

.card {
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 200px;
  width: 200px;
  background-color: brown;
  ;
}
